.wrapper {
  height: 100%;
  padding: var(--gap-half);

  img {
    height: 4vh;
    margin-right: var(--gap);
    opacity: .5;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: start;
    height: 100%;
  }

  a {
    display: flex;
    align-items: center;
    padding: var(--padding);
    min-width: 30vw;
    background-color: var(--button-bg-color);
    border-radius: var(--border-radius);
    color: var(--theme-text-color-seconary);
    font-size: 4.5vh;

    transition: all 0.2s ease-in;
    &:focus, &:active {
      border: none;
      color: var(--theme-text-color);
      padding-left: 5vh;
      background-color: var(--button-bg-color-hover);
      outline: none;
      img {
        opacity: 1;
      }
    }
  }
}