@use "../../mixin";
.wrapper {
  height: 100%;
  padding: var(--gap-half);

  svg {
    height: 4vh;
    width: 4vh;
    margin-right: var(--gap);
  }

  ul {
    margin: 0;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    gap: var(--gap-half);
    align-items: start;
    height: 100%;
    padding: 0;
    @include mixin.glass;
    li {
      width: 100%;
      &.active {
        border-left: var(--gap-half) solid #00b100;
        a {
          padding-left: var(--gap-half);
        }
        &:focus, &:active, &:hover {
          a {
            padding-left: var(--gap);
          }
        }
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    padding: var(--padding);
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    color: var(--theme-text-color-seconary);
    font-size: 3.5vh;

    svg {
      fill: var(--theme-text-color-seconary);
      stroke: var(--theme-text-color-seconary);
    }

    transition: all 0.2s ease-in;
    padding-right: calc(var(--gap) * 2);
    &:focus, &:active, &:hover {
      border: none;
      color: var(--theme-text-color);
      padding-left: calc(var(--gap) * 2);
      padding-right: calc(var(--gap));
      outline: none;
      svg {
        fill: var(--theme-text-color);
        stroke: var(--theme-text-color);
      }
    }
  }
}