.wrapper {

}

.list {
  width: 90vw;
  background-color: var(--theme-secondary);
  padding: var(--gap);
  margin: var(--gap-half) auto;
  list-style: none;
  gap: 0;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(var(--games-in-row), 1fr);

  li {
    display: block;
    padding: var(--gap-half);
    height: calc(((90vw - 30px) / var(--games-in-row)) * 1.5);
    transition: padding 0.2s ease-in-out;
    cursor: pointer;
    &:focus, &:hover {
      padding: 0;
      outline: none;
      img {
        border-color: var(--theme-text-color-seconary);
      }
    }
  }

  img {
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    overflow: hidden;
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}