.wrapper {

}

.list {
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin: 15px auto;
  list-style: none;
  gap: 3px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(var(--games-in-row), 1fr);

  a {
    display: block;
    padding: 8px;
    border-radius: 3px;
    overflow: hidden;
    //transition: padding 0.3s ease-in-out;
    &:focus {
      padding: 0;
      outline: none;
    }
  }

  img {
    max-width: 100%;
  }
}