@use "../../mixin";

.wrapper {

}

.navigation {
  max-width: 90vw;
  margin: var(--gap) auto;
  display: flex;
  gap: var(--gap-half);
  align-items: center;
  justify-content: center;

  span {
    padding: var(--padding);
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &.navActive {
      border-bottom-color: var(--theme-text-color);
    }

    &:focus {
      outline: none;
    }
  }

  img {
    cursor: pointer;
    margin: var(--gap);
  }
}

.list {
  width: 90vw;
  padding: var(--gap);
  margin: var(--gap-half) auto;
  list-style: none;
  gap: var(--gap-half);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(var(--games-in-row), 1fr);

  @include mixin.glass;

  li {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 100%;
    min-width: 0;
    aspect-ratio: 6/9;

    &:focus, &:hover {
      outline: none;
      position: relative;
      z-index: 2;

      img {
        transform: scale(1.12);
        border-color: var(--theme-text-color-seconary);
      }
    }
  }

  img {
    transition: all 0.2s ease-in-out;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    display: block;
    width: 100%;
    object-fit: contain;
  }
}