.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  gap: var(--gap);
  height: 100%;
}

.currentPath {
  border-radius: var(--border-radius);
  border: 1px solid var(--theme-secondary);
  padding: var(--padding);
}

.diskList {
  list-style: none;
  margin: 0;
  gap: var(--gap);
  display: flex;
  padding: 0;
  li {
    padding: var(--padding);
  }
}

.folders {
  list-style: none;
  margin: 0;
  gap: var(--gap-half);
  display: flex;
  padding: 0;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  position: relative;
  li {
    padding: var(--padding);
    display: flex;
    gap: var(--gap-half);
    align-items: center;
    svg {
      fill: var(--theme-text-color);
      height: 22px;
      width: 22px;
    }
  }
}
.modal {
  height: 100%;
  gap: var(--gap);
  width: 100%;
  position: relative;
  padding: 50px 5vw;
  z-index: 3;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    background-color: var(--theme-color);
    opacity: 0.9;
    left: 0;
    bottom: 0;
    z-index: -1;
    right: 0;
  }
}
