.wrapper {
  max-width: 80vw;
  margin: var(--gap) auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-height: 100%;
  list-style: none;
  border-radius: var(--border-radius);
  padding: var(--padding);
  background-color: var(--theme-secondary);
  li {
    background-color: var(--theme-color-transparent);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border-radius: var(--border-radius);
    border: 2px solid var(--theme-color);
    padding: var(--padding);
  }
}