.wrapper {
  margin-top: -60px;
  font-size: 18px;

  canvas {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    z-index: 5;
    transform: rotateX(180deg);
    opacity: 0.6;
  }
}

.achWrapper {
  position: relative;
  z-index: 2;
}

.achList {
  border-radius: var(--border-radius);
  width: 90vw;
  margin: var(--gap) auto;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
  padding: var(--gap);
  background-color: var(--theme-secondary);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    background-color: var(--theme-color-transparent);
    display: flex;
    margin: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;

    &.earned {
      background-color: var(--theme-color);

      strong {
        color: #00b100;
      }
    }

    img {
      width: 120px;
      height: 120px;
    }

    strong, i, span {
      display: block;
    }

    i {
      color: var(--theme-text-color-seconary);
      text-align: right;
    }

    span {
      color: var(--theme-text-color-seconary);
    }

    div {
      padding: var(--padding);
      width: 100%;
    }

    span, i {
      font-size: 16px;
    }
  }
}

.heading {
  position: relative;
  height: 32.3vw;
  margin-bottom: calc(-61px - 5vw);

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(transparent, transparent, 65%, var(--theme-color));
  }
}

.hero {
  max-width: 100%;
}

.logo {
  width: 35vw;
  position: absolute;
  z-index: 2;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(270deg, transparent, var(--theme-color));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw 5vw calc(4vw + 61px);

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.content {
  border-radius: var(--border-radius);
  width: 90vw;
  margin: 1vw auto;
  display: flex;
  align-items: start;
  gap: 1vw;
  position: relative;
  z-index: 2;
}

.info {
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  background-color: var(--theme-secondary);
  border-radius: var(--border-radius);
  width: 30vw;
  font-size: 16px;

  img {
    margin-bottom: var(--gap-half);
    border-radius: var(--border-radius);
  }

  li {
    margin-bottom: var(--gap-half);
    gap: var(--gap-half);
    display: flex;
    align-items: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 60vw;


  & > div {
    padding: var(--gap);
    background-color: var(--theme-secondary);
    border-radius: var(--border-radius);
  }


  h2, h1, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin: 0 0 var(--gap-half);
    letter-spacing: 0.03em;
    font-weight: bold;
    padding-top: 2px;
  }

  p {
    margin-bottom: var(--gap-half);
    color: var(--theme-text-color-seconary);
  }

  img {
    max-width: 100%;
    margin: auto;
    display: block;
  }

  :global {
    .bb_tag {
      margin-top: var(--gap);
      margin-bottom: var(--gap-half);
      background-image: none;
      background-color: var(--theme-color);
      color: var(--theme-text-color);
      padding: var(--gap-half);
      text-transform: none;
      letter-spacing: 0;
      &:empty{
        display: none;
      }
    }
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 14px;

    &.bb_tag {
      font-size: 15px;
    }
  }
}

.requirements {
  font-size: 12px;
  display: flex;
  gap: var(--gap);

  ul {
    padding: 0;
    list-style-type: none;
    margin-left: 0;
    line-height: 18px;
  }

  & > div {
    width: 50%;
  }
}

.playButton {
  font-weight: bold;
  font-size: 20px;
  min-width: 250px;
  box-shadow: 1px 1px 3px var(--theme-text-color-seconary);
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  margin-right: auto;

  &.running {
    background-color: rgba(0, 103, 187, 0.5);

    &:focus, &:hover {
      cursor: default;
      background-color: rgba(0, 103, 187, 0.5) !important;
    }
  }

  &:focus, &:hover {
    background-color: rgba(127, 187, 0, 0.9) !important;
  }
}

.ach_ {
  &B {
    img {
      background-color: #CD7F32;
    }
  }

  &P {
    img {
      background-color: #E5E4E2;
    }
  }

  &G {
    img {
      background-color: #FFD700;
    }
  }

  &S {
    img {
      background-color: #C0C0C0;
    }
  }

}

.icon {
  width: 45px;
  height: 45px;
  padding: 5px;
  background-color: var(--theme-color-transparent);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  //backdrop-filter: blur(5px);
  &:focus, &:hover {
    background-color: var(--theme-color);
  }

  svg {
    fill: var(--theme-text-color-seconary);
    max-width: 100%;
    max-height: 100%;
  }
}

.activeIcon {
  background-color: var(--theme-secondary);
  border: 1px solid var(--theme-text-color-seconary);
  svg {
    fill: var(--theme-text-color);
  }
}

.navigation {
  display: flex;
  gap: var(--gap);
}

.media {
  width: 100vw;
  position: relative;
  z-index: 2;
  height: calc(100vw * (9 / 16));
  margin-bottom: -50px;
  background-color: var(--theme-color);

  video, img {
    display: block;
    width: 100%;
  }
}

.hltb {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    margin: 0;
    padding: var(--padding);
    li {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 25%;
      max-width: 120px;
      strong {
        margin-top: var(--gap);
      }
      div {
        width: 100%;
        padding-bottom: 100%;

        border-radius: 50%;
        position: relative;
        background-color: var(--theme-color-transparent);
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-weight: bold;
        font-size: 22px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .score {
    text-align: right;
    font-size: 14px;
    strong {
      margin-right: var(--gap-half);
    }
  }
}