.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: var(--gap-half);
  margin: var(--gap) auto;
  span {
    padding: var(--padding);
    font-size: 1vw;
    background-color: var(--theme-color-transparent);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-half);
    position: relative;
    &:after {
      border-radius: var(--border-radius);
      content: '';
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: var(--progress);
      background-color: var(--bgColor);
      z-index: -1;
    }
    strong {
      font-size: 0.7vw;
    }
  }
}