.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: var(--gap);
  margin: var(--gap) auto;
  span {
    padding: var(--padding);
    font-size: 24px;
    background-color: var(--theme-color-transparent);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap);
    strong {
      font-size: 20px;
    }
  }
}