.wrapper {
  padding-top: 60px;
  margin-top: -60px;
  transition: background-color 0.3s ease-in;
  ul {
    z-index: 2;
    width: 100vw;
    padding: var(--padding);
    overflow-x: auto;
    background-color: var(--theme-color-transparent);
    border-radius: var(--border-radius);
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--gap);

    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25vh;
      width: calc((25vw / 353) * 616);

      img {
        width: auto;
        height: 94%;
        transition: all .3s ease-in-out;
        border-radius: var(--border-radius);
        overflow: hidden;
      }

      &:focus {
        outline: none;

        .infoWrapper {
          top: 0;
        }

        img {
          height: 100%;
        }
      }
    }
  }

  h2 {
    text-align: center;
  }
}

.navigation {
  max-width: 80vw;
  margin: var(--gap) auto;
  display: flex;
  gap: var(--gap-half);
  align-items: center;
  justify-content: center;

  div {
    cursor: pointer;
    padding: var(--padding);
    border-bottom: 1px solid transparent;
    &.navActive {
      border-bottom-color: var(--theme-text-color);
    }
  }

  img {
    cursor: pointer;
    margin: var(--gap);
  }
}

.infoWrapper {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: space-between;
  left: 0;
  top: 3%;
  width: 100%;
  transition: top 0.3s ease-in-out;
  span {
    padding: var(--padding);
    background-color: var(--theme-color-transparent);
    border-radius: var(--border-radius);
    backdrop-filter: blur(3px);
    font-size: 14px;
  }
  strong {
    padding: var(--padding);
    color: var(--theme-text-color);
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
    background-color: #00b100;
  }
}