.innerWrapper {
  background-repeat: no-repeat;
  background-size: 100% calc(33vw - 60px);
  background-image: linear-gradient(transparent, transparent 20%, var(--theme-color));
}

.wrapper {
  width: 100vw;
  position: relative;
  padding-top: 60px;
  background-size: 100% auto;
  background-repeat: no-repeat;

  h2 {
    padding: var(--padding);
  }
}

.game {
  margin: 0;
  text-indent: 0;
  padding: var(--padding);
  display: flex;
  align-items: self-start;
  gap: var(--gap);

  img {
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 17vw;
  }

  h1 {
    font-size: 56px;
  }

  .info {
    background-color: var(--theme-color-transparent);
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    padding: var(--padding);
    max-width: 33vw;

    li {
      margin-bottom: var(--gap-half);
      gap: var(--gap-half);
      display: flex;
      align-items: center;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}