@use "../../mixin";

.innerWrapper {
  padding-top: 40px;
  z-index: 2;
  h2 {
    padding: var(--padding);
    position: relative;
    z-index: 2;
  }
}

.wrapper {
  width: 100vw;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: 10vw;

}