.innerWrapper {
  padding-top: 40px;
  background-repeat: no-repeat;
  //background-size: 100% calc(33vw - 60px);
  background-image: linear-gradient(var(--theme-color), var(--theme-color) 8vw , transparent 11vw, transparent 29vw, var(--theme-color) 35vw, var(--theme-color));
}

.achievements{
  padding: var(--padding);
  background: var(--theme-color-transparent);
  border-radius: var(--border-radius);
  display: block;
  margin-left: auto;
  text-align: right;
}

.wrapper {
  width: 100vw;
  position: relative;
  //padding-top: 60px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: 8vw;

  h2 {
    padding: var(--padding);
  }
}

.game {
  margin: 0;
  text-indent: 0;
  padding: var(--padding);
  display: flex;
  align-items: self-start;
  gap: var(--gap);

  img {
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 17vw;
  }

  h1 {
    font-size: 50px;
  }

  .info {
    background-color: var(--theme-color-transparent);
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    padding: var(--padding);
    max-width: 33vw;

    li {
      margin-bottom: var(--gap-half);
      gap: var(--gap-half);
      display: flex;
      align-items: center;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}