@use "../../mixin";

.freeWrapper {
  gap: var(--gap);
  display: grid;
  grid-template-rows: repeat(var(--lines), 1fr);
  justify-content: start;
  grid-auto-flow: column;
  overflow-x: auto;
  list-style: none;
  width: 100vw;
  position: relative;
  padding: var(--padding);
  min-height: 80px;
  @include mixin.glass;
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 5;
    aspect-ratio: 16 / 9;
  }

  &>li {
    white-space: nowrap;
    aspect-ratio: 16 / 9;
    width: 22vw;
    border-radius: var(--border-radius);
    position: relative;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    perspective: 1000px;
    &:active, &:focus {
      transform: rotateX(7deg) translateY(-2px) scale(1.05);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
      iframe{
        display: block;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
    ul {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      overflow: hidden;
      transition: opacity 0.3s;
      z-index: 6;
      width: 100%;
      height: 100%;
      padding: var(--gap-half);
      display: flex;
      flex-direction: column;
      gap: var(--gap-half);
      li {
        list-style: none;
        margin: 0;
        display: flex;
        border-bottom: 1px solid var(--theme-secondary);
        strong {
          margin-right: var(--gap-half);
        }
        i {
          margin-left: auto;
          text-align: right;
        }
      }
    }
    &.active {
      background-color: var(--theme-text-color-seconary);
      z-index: 2;
      ul {
        opacity: .9;
        background-color: var(--theme-color);
      }
    }
  }
}

.lastPlayed {
  display: inline-flex;
  align-content: center;
  gap: var(--gap-half);
  overflow-x: auto;
  list-style: none;
  max-width: 100vw;
  height: 8vw;
  position: relative;
  margin:0;
  padding: var(--padding);
  &>li {
    white-space: nowrap;
    width: 6vw;
    height: 6vw;
    min-width: 6vw;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    @include mixin.glass;
    &.active, &:active , &:focus {
      width: 7vw;
      height: 7vw;
      min-width: 7vw;
      @include mixin.glassActive;
    }
    img {
      max-width: 100%;
      width: 100%;
      max-height: 100%;
    }
  }
}