@keyframes init {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.wrapper {
  position: fixed;
  bottom: 15vh;
  transform: translate(calc(50vw - (420px + var(--gap) * 2)/ 2));
  z-index: 20;
  display: flex;
  justify-content: center;
  left: 0;
}

.content {
  padding: var(--gap-half);
  border-radius: var(--border-radius);
  background-color: var(--theme-color-transparent);
  display: flex;
  animation: init .3s linear;
}

@keyframes logo {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80px);
  }
}

.image {
  width: 80px;
  height: 80px;
  background-color: var(--bg-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  img {
    animation: logo .5s forwards;
    animation-delay: .5s;
    width: 80px;
    display: block;
    height: 80px;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.contentWrapper {
  background-color: var(--theme-secondary);
  width: 340px;
  padding: var(--padding);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: var(--gap-half);
}

.heading {
  color: var(--bg-color);
  font-weight: bold;
}

.description {
  font-size: 14px;
}