@use "../../mixin";
.navigation {
  max-width: 80vw;
  margin: var(--gap) auto;
  display: flex;
  gap: var(--gap-half);
  align-items: center;
  justify-content: center;

  span {
    padding: var(--padding);
    cursor: pointer;
    border-bottom: 1px solid transparent;

    &.navActive {
      border-bottom-color: var(--theme-text-color);
    }

    &:focus {
      outline: none;
    }
  }

  img {
    margin: var(--gap);
  }
}
.wrapperMovie {
  max-width: 90vw;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--gap);
  padding: var(--padding);
  background-color: var(--theme-color-transparent);

  table {
    background-color: var(--theme-color-transparent);
    td {
      border: 1px solid var(--theme-color);
      padding: var(--gap-half);
    }

    tr[tabindex="1"]{
      cursor: pointer;
      &:hover, &:focus, &:active {
        background-color: var(--theme-text-color);
        td {
          color: var(--theme-color);
        }
      }
    }
    tr[tabindex="0"] {
      color: var(--theme-text-color-seconary);
    }
  }

  .player {
    background-color: black;
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  .description {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: var(--gap-half);

    img {
      width: 100%;
      min-width: 0;
    }


    h1 , h3{
      margin: 0;
    }

    &Content {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      padding: var(--padding);
      background-color: var(--theme-color-transparent);

      table {
        span[data-url] {
          color: var(--theme-text-color-seconary);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }

    }
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
  }
}

.wrapperCatalog {
  max-width: 95vw;
  margin: 50px auto;
  gap: var(--gap);
  padding: var(--padding);
  background-color: var(--theme-color-transparent);

  .collectionsList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-half);
    button {
      margin: 0;
    }
  }

  .catalogList {
    margin: 0;
    padding: var(--gap) var(--gap-half);
    list-style: none;
    display: grid;
    gap: var(--gap-half);
    grid-template-columns: repeat(9, 1fr);

    li {
      border-radius: var(--border-radius);
      background-color: var(--theme-color-transparent);
      border: 1px solid var(--theme-color-transparent);
      display: flex;
      flex-direction: column;
      min-width: 0;
      overflow: hidden;
      transition: all .3s ease;
      cursor: pointer;

      &:hover, &:active, &:focus {
        position: relative;
        z-index: 2;
        transform: scale(1.1);
        border-color: var(--theme-text-color-seconary);
        background-color: var(--theme-color);
        img {
          filter: brightness(1);
        }
      }

      img {
        transition: all .3s ease;
        min-width: 0;
        width: 100%;
        aspect-ratio: 83 / 125;
        filter: brightness(0.8);
      }

      small {
        padding: 0 var(--gap-half);
        color: var(--theme-text-color-seconary);
      }
      span {
        padding: var(--gap-half);
      }
    }
  }

  .pagination {
    display: flex;
    gap: var(--gap-half);
    .activeFilter {
      background-color: var(--theme-text-color);
      color: var(--theme-color);
    }
  }

  .categories {
    background-color: var(--theme-color-transparent);
    display: flex;
    flex-direction: column;
    margin: 0;
    button {
      margin: var(--gap);
    }
  }

}
.search {
  display: flex;
  flex-wrap: wrap;
  margin: var(--gap) 0;
  padding: var(--padding);
  list-style: none;
  gap: var(--gap);

  li {
    width: 100%;
    display: flex;
    padding: var(--gap-half);
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--theme-color);
    align-items: center;

    &:hover, &:focus, &:active {
      background-color: var(--theme-text-color);
      color: var(--theme-color);
    }
  }
}

.widget {
  gap: var(--gap);
  display: grid;
  grid-template-rows: repeat(var(--lines), 1fr);
  justify-content: start;
  grid-auto-flow: column;
  overflow-x: auto;
  list-style: none;
  width: 100vw;
  position: relative;
  padding: 1.5vw var(--gap);
  min-height: 80px;
  @include mixin.glass;
  li {
    min-width: 0;
    width: 12vw;
    overflow: hidden;
    cursor: pointer;
    img {
      aspect-ratio: 83 / 125;
      min-width: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    border-radius: var(--border-radius);
    position: relative;
    transition: all 0.3s ease-in-out;
    perspective: 1000px;
    &:active, &:focus, &:hover {
      position: relative;
      z-index: 2;
      transform: translateX(calc(1.8vw - var(--gap))) scale(1.15);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }
  }
}