.wrapper {
  position: fixed;
  left: 0;
  width: 100%;
  height: 50px;
  bottom: 0;
  padding: 0 15px;
  background-color: var(--theme-color-transparent);
  border-top: 1px solid var(--theme-secondary);
  display: flex;
  align-items: center;
  gap: 15px;
  transition: opacity 0.3s ease-in;
  z-index: 3;
  &>div {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 3px;
    &:first-child {
      margin-right: auto;
    }
  }
}