:root {
  --theme-color: 33, 33, 33;
  --theme-contrast: 255, 255, 255;

  /*--theme-contrast: 240,240,240;*/
  /*--theme-color: 38, 38, 38;*/
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Bahnschrift;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  color: rgb(var(--theme-contrast));
}

::-webkit-scrollbar {
  width: 0;
}

a {
  color: rgba(var(--theme-contrast), .9);
  text-decoration: none;
}

label {
  display: flex;
  background-color: rgba(var(--theme-contrast), 0.2);
  padding: 5px 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

label input {
  border-radius: 3px;
  padding: 10px 15px;
  color: rgb(var(--theme-contrast));
  border: 1px solid #4b4b4b;
  background-color: transparent;
}

input::placeholder {
  color: #aaaaaa;
}

button {
  color: rgb(var(--theme-contrast));
  outline: none;
  border: 1px solid rgba(var(--theme-contrast), 0.4);
  background-color: rgba(var(--theme-contrast), 0.1);
  padding: 10px 20px;
  margin: 8px 0;
  border-radius: 5px;
}

button:hover, button:focus {
  cursor: pointer;
  background-color: rgba(var(--theme-contrast), 0.3);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
