:root {
  --theme-color: rgb(255, 255, 255);
  --theme-color-transparent: rgb(255, 255, 255, 0.5);
  --theme-secondary: rgb(210, 207, 201);
  --theme-text-color: rgb(26, 27, 30);
  --theme-text-color-seconary: rgba(26, 27, 30, 0.65);
  --button-bg-color: rgb(183, 177, 167);
  --button-bg-color-hover: rgb(148, 138, 123);
  --earned-color: rgb(0, 104, 0);

  --border-radius: 4px;
  --gap: .8vw;
  --gap-half: 0.4vw;
  --padding: var(--gap-half) var(--gap);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: rgb(26, 27, 30);
    --theme-color-transparent: rgb(26, 27, 30, 0.5);
    --theme-secondary: rgb(45, 48, 54);
    --theme-text-color: rgb(255, 255, 255);
    --theme-text-color-seconary: rgba(255, 255, 255, 0.65);
    --button-bg-color: rgb(72, 78, 88);
    --button-bg-color-hover: rgb(107, 117, 132);
    --earned-color: rgb(0, 177, 0);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Bahnschrift, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-color);
  color: var(--theme-text-color);
}

::-webkit-scrollbar {
  width: 0;
}

a {
  color: var(--theme-text-color);
  text-decoration: none;
}

label {
  display: flex;
  background-color: var(--theme-color-transparent);
  padding: var(--padding);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
}

label input {
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--theme-text-color);
  border: 1px solid var(--theme-text-color-seconary);
  background-color: transparent;
}

input::placeholder {
  color: var(--theme-text-color-seconary);
}

button {
  color: var(--theme-text-color);
  outline: none;
  background-color: var(--button-bg-color);
  padding: var(--padding);
  margin: var(--gap-half) 0;
  border: none;
  border-radius: var(--border-radius);
  transition: background-color 0.2s;
  &:disabled {
    opacity: 0.1;
  }
}

button:hover, button:focus {
  cursor: pointer;
  background-color: var(--button-bg-color-hover);
}