.wrapper {
  ul {
    display: grid;
    position: relative;
    gap: var(--gap-half);
    max-width: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--theme-color-transparent);

    li {
      background: var(--theme-secondary);
      border-radius: var(--border-radius);
      display: flex;
      align-items: start;
      min-width: 0;

      .content {
        width: 100%;
        gap: var(--gap-half);
        display: flex;
        flex-direction: column;
        padding: var(--gap-half);
        position: relative;
        height: 100%;
        overflow: hidden;
        max-width: 100%;

        button {
          margin-top: auto;
          margin-left: auto;
          margin-bottom: 0;
        }

        div {
          display: flex;
          gap: var(--gap-half);
          align-items: center;
          width: 100%;
          &[role="button"] {
            cursor: pointer;
          }
        }

        i {
          color: var(--theme-text-color-seconary);
          text-overflow: ellipsis;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          max-width: 100%;
          padding-right: var(--gap-half);
        }
      }

      h2 {
        grid-area: h2;
        margin: 0;
        padding-right: 20px;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
      }

      .installedIcon {
        position: absolute;
        right: -5px;
        top: -15px;
        display: inline-block;
        transform: rotate(45deg);
        height: 25px;
        width: 12px;
        border-bottom: 7px solid #78b13f;
        border-right: 7px solid #78b13f;
        margin-left: auto;
        margin-top: var(--gap);
        margin-right: var(--gap);
      }

      img {
        width: 5vw;
      }

    }

  }
}