.navigation {
  max-width: 80vw;
  margin: 15px auto;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  a {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    &.navActive {
      border-bottom-color: var(--theme-text-color);
    }
    &:focus {
      outline: none;
    }
  }

  img {
    margin: 15px;
  }
}
.settingsHome {
  display: flex;
  flex-direction: column;
  align-items: start;
  button {
    font-weight: bolder;
    font-size: 3.5vh;
    min-width: 25vw;
    text-align: left;
  }
}

.wrapper {
  max-width: 80vw;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0;

    summary {
      font-size: 16px;
    }

    li details > div {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}

.block {
  padding: 15px;
  border-radius: var(--border-radius);
  background-color: var(--theme-secondary);
  display: flex;
  flex-direction: column;
  gap: 5px;

  summary {
    cursor: pointer;
    font-size: 18px;
    margin: 0 0 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--theme-text-color-seconary);
  }
}

.argsWrapper {
  margin: 10px 0;
  span {
    font-size: 13px;
  }
  label {
    padding: 2px 15px;
    div {
      display: flex;
    }
    button {
      margin: 2px 2px 2px auto;
    }
  }

}

.addImage {
  background-color: var(--theme-color-transparent);
  padding: 5px 15px;

  &Field {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: auto;
      max-height: 150px;
      cursor: pointer;
    }
  }

  ul {
    display: grid;
    max-width: 100%;
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 8px;
    border-radius: var(--border-radius);
    gap: 10px;
    margin: 15px 0;
    list-style: none;

    &:empty {
      display: none;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.search {
  display: flex;
  flex-wrap: wrap;
  li {
    img {
      max-width: 130px;
    }
    gap: 5px;
    display: flex;
    padding: 3px;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--theme-color-transparent);
    align-items: center;
    &:hover {
      background-color: var(--theme-color);
    }
  }
}