.navigation {
  max-width: 90vw;
  margin: var(--gap) auto;
  display: flex;
  gap: var(--gap-half);
  align-items: center;
  justify-content: center;

  a {
    padding: var(--padding);
    border-bottom: 1px solid transparent;

    &.navActive {
      border-bottom-color: var(--theme-text-color);
    }

    &:focus {
      outline: none;
    }
  }

  img {
    margin: var(--gap);
  }
}

.wrapper {
  max-width: 90vw;
  margin: var(--gap) auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-height: 100%;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap-half);
    margin: var(--gap-half) 0;
  }
}

.addGameWrapper {
  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-half);
  }
}

.profileWrapper {
  background-color: var(--theme-color-transparent);
  padding: var(--padding);

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-half);

    li {
      background-color: var(--theme-color);
      gap: var(--gap-half);
      border-radius: var(--border-radius);
      display: flex;
      border: 2px solid var(--theme-color-transparent);
      transition: all .3s ease;
      position: relative;

      img {
        max-height: 100px;
      }

      div {
        padding: var(--padding);
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        justify-content: center;
      }

      .selected {
        display: inline-block;
        transform: rotate(45deg);
        height: 25px;
        width: 12px;
        border-bottom: 7px solid #78b13f;
        border-right: 7px solid #78b13f;
        margin-left: auto;
        margin-top: var(--gap);
        margin-right: var(--gap);
      }

      &:focus, &:active, &:hover {
        background-color: var(--theme-color-transparent);
        border-color: var(--theme-color);
      }
    }
  }
}

.block {
  padding: var(--gap);
  border-radius: var(--border-radius);
  background-color: var(--theme-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--gap-half);

  summary {
    cursor: pointer;
    font-size: 18px;
    line-height: 2;
    padding: 0 var(--gap-half);
    border-bottom: 1px solid var(--theme-text-color-seconary);

    &:focus, &:active, &:hover {
      background-color: var(--theme-color-transparent);
    }
  }

  .iconsWrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--gap-half);
    width: 100%;

    li {
      background-color: var(--theme-color);
      max-width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid var(--theme-color-transparent);
      padding: 1px;
      gap: var(--gap-half);
      min-width: 0;
      overflow: hidden;

      &:hover, &:active, &:focus {
        background-color: var(--theme-color-transparent);
        border-color: var(--theme-text-color);
      }

      &.active {
        background-color: var(--theme-text-color);
        border-color: var(--theme-color);
        color: var(--theme-color);
      }

      img {
        height: 2.4vw;
        width: 2.4vw;
        background-color: var(--theme-color-transparent);
      }

      span {
        font-size: .5vw;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: var(--gap-half);
        max-width: 100%;
        text-align: center;
      }
    }
  }
}

.argsWrapper {
  margin: var(--gap-half) 0;

  span {
    font-size: 13px;
  }

  label {
    padding: var(--padding);

    div {
      display: flex;
    }

    button {
      margin: 2px 2px 2px auto;
    }
  }

}

.addImage {
  background-color: var(--theme-color-transparent);
  padding: var(--padding);

  &Field {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    display: grid;
    max-width: 100%;
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr);
    padding: 8px;
    border-radius: var(--border-radius);
    gap: var(--gap-half);
    margin: var(--gap) 0;
    list-style: none;

    &:empty {
      display: none;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.search {
  display: flex;
  flex-wrap: wrap;

  li {
    img {
      max-width: 130px;
    }

    width: 100%;
    gap: var(--gap-half);
    display: flex;
    padding: var(--gap-half);
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--theme-color-transparent);
    align-items: center;

    &:hover {
      background-color: var(--theme-color);
    }
  }
}