.navigation {
  max-width: 80vw;
  margin: var(--gap) auto;
  display: flex;
  gap: var(--gap-half);
  align-items: center;
  justify-content: center;

  a {
    padding: var(--padding);
    border-bottom: 1px solid transparent;
    &.navActive {
      border-bottom-color: var(--theme-text-color);
    }
    &:focus {
      outline: none;
    }
  }

  img {
    margin: var(--gap);
  }
}

.wrapper {
  max-width: 80vw;
  margin: var(--gap) auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  max-height: 100%;

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap-half);
    margin: var(--gap-half) 0;

    li details > div {
      display: flex;
      flex-direction: column;
      gap: var(--gap-half);
    }
  }
}

.block {
  padding: var(--gap);
  border-radius: var(--border-radius);
  background-color: var(--theme-secondary);
  display: flex;
  flex-direction: column;
  gap: var(--gap-half);

  summary {
    cursor: pointer;
    font-size: 18px;
    line-height: 2;
    padding: 0 var(--gap-half);
    border-bottom: 1px solid var(--theme-text-color-seconary);
    &:focus, &:active, &:hover {
      background-color: var(--theme-color-transparent);
    }
  }
}

.argsWrapper {
  margin: var(--gap-half) 0;
  span {
    font-size: 13px;
  }
  label {
    padding: var(--padding);
    div {
      display: flex;
    }
    button {
      margin: 2px 2px 2px auto;
    }
  }

}

.addImage {
  background-color: var(--theme-color-transparent);
  padding: var(--padding);

  &Field {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: auto;
      max-height: 150px;
      cursor: pointer;
    }
  }

  ul {
    display: grid;
    max-width: 100%;
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 8px;
    border-radius: var(--border-radius);
    gap: var(--gap-half);
    margin: var(--gap) 0;
    list-style: none;

    &:empty {
      display: none;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.search {
  display: flex;
  flex-wrap: wrap;
  li {
    img {
      max-width: 130px;
    }
    gap: var(--gap-half);
    display: flex;
    padding: var(--gap-half);
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--theme-color-transparent);
    align-items: center;
    &:hover {
      background-color: var(--theme-color);
    }
  }
}